// Name:            Card
// Description:     Component to create card
//
// Component:       `card`
//
// Sub-objects:     `card-title`
// =============================================================

.card {
  padding: 1em;

  & > * {
    margin: 0 0 15px 0;
  }

  & > * :nth-child(odd) {
    font-weight: bold;
  }
}

.card__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .75em;
}