//
//-- Header
//

.page-nav {
	background: $color-gradient2; // fallback color
	background: linear-gradient(180deg, $color-gradient1-rgba, $color-gradient2-rgba);
	color: #FFF;
	text-align: center;
	//padding: 1em 0 0;
	border: 1px solid white;

	@include tablet-port {
		//padding: 1.5em;
	}
}

.page-title {
	float: none;
	font-size: em(16);
	margin: 1em 0 0 0;

	@include tablet-port {
		float: left;
		margin: 1em 0 0 1em;
	}
}

.page-nav__li {
	position: relative;
	border-bottom: 1px solid #CCC;
	margin-left: -4px;

	@include tablet-port {
		border: 0;
		display: inline-block;
		border-left: 1px solid $color-secondary-rgba;

		/*&::after {
			content: "-";
			position: absolute;
			top: 50%;
			right: -0.15em;
			transform: translate(0, -50%);
		}*/

		&:last-child::after {
			display: none;
		}
	}
}

.page-nav__item {
	display: block;
	color: inherit;
	text-decoration: none;
	//text-transform: uppercase;
	transition: opacity 0.2s ease;
	padding: 0.5em 1em;
	opacity: 0.7;

	&:hover {
		background: linear-gradient(180deg, $color-gradient1-rgba, $color-gradient2-rgba);
		opacity: 1;
	}

	&[aria-current] {
		background: linear-gradient(180deg, $color-gradient1, $color-gradient2);
		opacity: 1;
		color: white;
	}

	@include tablet-port {
		font-size: em(16);
		padding: .75em 1em;
	}
}

.page-nav__hamburger {
	display: inline-block;
	cursor: pointer;
	transition: transform 0.2s ease;
	margin-bottom: 1em;
	margin-top: 1em;

	&:hover {
		transform: scale(1.2);
	}

	@include tablet-port {
		display: none;
	}
}

.page-nav__ul {
	display: none;

	@include tablet-port {
		display: block !important;
		float: right;
	}
}